/** BASE STYLES **/

body {
	
}

/** GRID **/ 

.content-wrapper {
	margin:  0 auto;
	overflow: auto;
	width:  1200px;
}

/*.half-width {
	float: left; 
	width: 600px;
	margin: 0 auto;
	overflow: auto;
}

.third-width {
	float: left; 
	width: 400px;
}*/