/** BASE STYLES **/

body {
	
}

/** GRID **/ 

.full-width {
	margin:  0 auto;
	overflow: auto;
	width:  1200px;
}

.half-width {
	float: left; 
	width: 600px;
}

.third-width {
	float: left; 
	width: 400px;
}